/log
/logs
*.log
project/project
project/target
target
tmp
/derby
.history
/dist
/.idea
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/db
/*.iml
/metastore
/dora
/metastore_db
.DS_Store
public/.DS_Store
